---

---
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
        <title>if(Thermal)</title>
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
	</head>
	<body>
       <a href="https://github.com/ThermalSpan"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a> 
        <div id="header-filler"></div>
        <img id="logo" src="{{ site.url }}/images/logo.png" alt="logo">
        <div id="content" class="full-div" >
            <div id="menu" class="dark-div">
                <div id="menu-box">
                <ul>
                    <li>
                        <a href="{{ site.url }}">Home</a>
                    </li>
                    <li>
                        <a>Blog</a>
                    </li>
                    <li>
                        <a>Contact</a>
                    </li>
                    <li>
                        <a href="https://github.com/ThermalSpan?tab=repositories">
                        Github
                        </a>
                    </li>

                </ul>
                </div>
            </div>


{{ content }}


        

            
        
            <div id="footer">
                <p>
                    <a href="http://imgsrc.hubblesite.org/hu/db/images/hs-2013-12-a-xlarge_web.jpg">
                    Horsehead Nebula:
                    </a>
                    Courtesy of NASA's hubble archive.
                </p>
            </div>
        </div>
    </body>
</html>
